{% extends 'base.html' %}
{% block content %}
<div class="mx-auto mt-8 text-center">
  <h1 class="text-2xl font-bold">Plan lekcji dla kierunku Informatyka gr. {{current_group}}</h1>
  <form class="mt-4" method="POST" action="{% url 'change_group' %}">
      {% csrf_token %}
      <select class="border border-gray-300 rounded-md p-2" name="group" onchange="this.form.submit()">
        <option value="1" {% if current_group == 1 %}selected{% endif %}>Grupa 1</option>
        <option value="2" {% if current_group == 2 %}selected{% endif %}>Grupa 2</option>
        <option value="3" {% if current_group == 3 %}selected{% endif %}>Grupa 3</option>
        <option value="4" {% if current_group == 4 %}selected{% endif %}>Grupa 4</option>
        <option value="5" {% if current_group == 5 %}selected{% endif %}>Grupa 5</option>
        <option value="6" {% if current_group == 6 %}selected{% endif %}>Grupa 6</option>
        <!-- Add more options as needed -->
    </select>
</form>
<div class="mx-auto mt-12 overflow-x-auto">
  
  <div class="w-full sm:w-auto">
    <table class="table-auto w-full sm:w-auto border-collapse border border-gray-400 text-sm">
        <thead>
          <tr class="bg-gray-100">
            <th class="px-5 py-2 text-xs font-medium text-gray-500 uppercase tracking-wider" style="width: 5%;">Godziny</th>
            <th class="px-5 py-2 text-xs font-medium text-gray-500 uppercase tracking-wider" style="width: 16.67%;">Poniedziałek</th>
            <th class="px-5 py-2 text-xs font-medium text-gray-500 uppercase tracking-wider" style="width: 16.67%;">Wtorek</th>
            <th class="px-5 py-2 text-xs font-medium text-gray-500 uppercase tracking-wider" style="width: 16.67%;">Środa</th>
            <th class="px-5 py-2 text-xs font-medium text-gray-500 uppercase tracking-wider" style="width: 16.67%;">Czwartek</th>
            <th class="px-5 py-2 text-xs font-medium text-gray-500 uppercase tracking-wider" style="width: 16.67%;">Piątek</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-400">
          {% for row in data %}
          <tr>
            <td class="px-5 py-3 whitespace-wrap">{{ row.godziny|safe }}</td>
            <td class="px-5 py-3 whitespace-wrap">{{ row.Poniedziałek|safe  }}</td>
            <td class="px-5 py-3 whitespace-wrap">{{ row.Wtorek|safe  }}</td>
            <td class="px-5 py-3 whitespace-wrap">{{ row.Środa|safe  }}</td>
            <td class="px-5 py-3 whitespace-wrap">{{ row.Czwartek|safe  }}</td>
            <td class="px-5 py-3 whitespace-wrap">{{ row.Piątek|safe  }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="mt-4">
    <a href="https://github.com/klegus/" target="_blank" class="text-blue-500 hover:underline">View on GitHub</a>
    <p class="mt-2">Update time: {{ time_update }}</p>
    <p>Update time speed: {{ time_speed }}s</p>
</div>
{% endblock %}