{% extends 'base.html' %}
{% block content %}
<div class="mx-auto mt-8">
    <h1 class="text-2xl font-bold text-center">Plan lekcji dla kierunku Informatyka</h1>
  </div>
<div class="mx-auto mt-40">
    <div class="overflow-x-auto">
      <table class="table-auto w-full border-collapse border border-gray-400">
        <thead>
          <tr class="bg-gray-100">
            <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider" style="width: 5%;">Godziny</th>
            <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider" style="width: 16.67%;">Poniedziałek</th>
            <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider" style="width: 16.67%;">Wtorek</th>
            <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider" style="width: 16.67%;">Środa</th>
            <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider" style="width: 16.67%;">Czwartek</th>
            <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider" style="width: 16.67%;">Piątek</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-400">
          {% for row in data %}
          <tr>
            <td class="px-6 py-4 whitespace-nowrap">{{ row.godziny|safe }}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ row.Poniedziałek|safe  }}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ row.Wtorek|safe  }}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ row.Środa|safe  }}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ row.Czwartek|safe  }}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ row.Piątek|safe  }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}